<h1>Title: <%= @page.billboard %></h1>
<%= @page.title %>
<%= @page.artist_name %>
<%= @page.song_name %>
<%= @page.album %>

<%= link_to 'back', pages_path %>
<p>Find me in app/views/pages/show.html.erb</p>
